@model IEnumerable<Bank.Models.PersonMinViewModel>

@{
    ViewData["Title"] = "List of clients";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Add a client</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                Passport
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(i => i.LastName)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @($"{item.PassportSeries}{item.PassportNumber}")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { Id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { Id = item.Id }) |
                @Html.ActionLink("Create standard account", "Create", "StandardAccount",  new { id = item.Id, isPerson = true }) |
                @Html.ActionLink("Create deposit", "Create", "Deposit", new { personId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
