
@{
    ViewData["Title"] = "Cellular";
}

<h1>@ViewData["Title"]</h1>
<hr />
<h2>
    @Html.ActionLink("A1", "PhoneNumber", new { id = "A1" })
</h2>
<br />
<h2>
    @Html.ActionLink("life", "PhoneNumber", new { id = "Life" })
</h2>
<br />
<h2>
    @Html.ActionLink("MTC", "PhoneNumber", new { id = "Mtc" })
</h2>
<br />
<h2>
    @Html.ActionLink("Back", "ListOfActions")
</h2>


