@model Bank.Models.SelectDepositViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SelectDepositViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CurrencyList" class="control-label"></label>
                <select asp-for="CurrencyId" asp-items="@(new SelectList(Model.CurrencyList, "Id", "Name"))"
                        class="form-control" onchange="currencyChanged()">
                </select>
                <span asp-validation-for="CurrencyId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DepositGeneralList" class="control-label"></label>
                <select asp-for="DepositGeneralId" asp-items="@(new SelectList(Model.DepositGeneralList, "Id", "Name"))"
                        class="form-control" onchange="depositChanged()">
                </select>
                <span asp-validation-for="DepositGeneralId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsRevocable" class="control-label"></label>
                <input asp-for="IsRevocable" class="form-control" disabled="disabled" />
                <span asp-validation-for="IsRevocable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WithCapitalization" class="control-label"></label>
                <input asp-for="WithCapitalization" class="form-control" disabled="disabled" />
                <span asp-validation-for="WithCapitalization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReplenishmentAllowed" class="control-label"></label>
                <input asp-for="ReplenishmentAllowed" class="form-control" disabled="disabled" />
                <span asp-validation-for="ReplenishmentAllowed" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="InterestAccrualList" class="control-label"></label>
                <select asp-for="InterestAccrualId" asp-items="@(new SelectList(Model.InterestAccrualList, "Id", "Name"))"
                        class="form-control" onchange="termChanged()">
                </select>
                <span asp-validation-for="InterestAccrualId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DepositCoreList" class="control-label"></label>
                <select asp-for="DepositCoreId" asp-items="@(new SelectList(Model.DepositCoreList, "Id", "InterestRate"))"
                        class="form-control" disabled="disabled">
                </select>
                <span asp-validation-for="DepositCoreId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TotalMoney" class="control-label"></label>
                <input asp-for="TotalMoney" class="form-control" disabled="disabled"/>
                <span asp-validation-for="TotalMoney" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequiredMoney" class="control-label"></label>
                <input asp-for="RequiredMoney" class="form-control" disabled="disabled"/>
                <span asp-validation-for="RequiredMoney" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedMoney" class="control-label"></label>
                <input asp-for="SelectedMoney" class="form-control" />
                <span asp-validation-for="SelectedMoney" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script type="text/javascript">
    function currencyChanged()
    {
        console.log("currencyChanged");
        @*var url = '@Url.Action("GetCurrencyNameByModel", "Deposit")';
        $.post(url, $('form').serialize(), function (view)
        {
            console.log(view);
            $("#CurrencyName").val(view);
        });*@
    }
    function depositChanged()
    {
        console.log("depositChanged");

        @*var url = '@Url.Action("GetCurrencyNameByModel", "Deposit")';
        $.post(url, $('form').serialize(), function (view)
        {

            console.log(view);
            $("#CurrencyName").val(view);
        });*@
    }
    function termChanged()
    {
        console.log("termChanged");

    }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}