@model Bank.Models.DepositIndexViewModel

@{
    ViewData["Title"] = "Close deposit";
}

<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to close this?</h3>
<div>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoneyAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoneyAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterestRate)
        </dd>       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenDate)
        </dd>      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Term)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Term)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRevocable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRevocable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WithCapitalization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WithCapitalization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReplenishmentAllowed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReplenishmentAllowed)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Close" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
