@model Bank.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@{ 
    var actualLocation = Model.PersonToLocations.First().IsActual
        ? Model.PersonToLocations.First()?.Location 
        : Model.PersonToLocations.Last()?.Location;
    var residenceLocation = Model.PersonToLocations.Last().IsActual
        ? Model.PersonToLocations.First()?.Location 
        : Model.PersonToLocations.Last()?.Location;
}
<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birth.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birth.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birth.Location.City.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birth.Location.City.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.Series)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.Series)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.IdentifyingNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.IdentifyingNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.IssuingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.IssuingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.IssuingAuthority.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.IssuingAuthority.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HomePhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HomePhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonToLocations)
        </dt>
        <dd class="col-sm-10">
            actual location city
        </dd>
        <dt class="col-sm-2">
            @actualLocation.City.Name
        </dt>
        <dd class="col-sm-10">
            actual location address
        </dd>
        <dt class="col-sm-2">
            @(actualLocation.Street + ", " + actualLocation.BuildingNumber)
        </dt>
        <dd class="col-sm-10">
            residence location city
        </dd>
        <dt class="col-sm-2">
            @residenceLocation.City.Name
        </dt>
        <dd class="col-sm-10">
            residence location address
        </dd>
        <dt class="col-sm-2">
            @(residenceLocation.Street + ", " + residenceLocation.BuildingNumber)
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nationality.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disability)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disability.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsPensioner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPensioner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Revenue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Revenue)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
